.idea/.idea.EnsekRemoteTechnicalTest/.idea/.gitignore
.idea/.idea.EnsekRemoteTechnicalTest/.idea/.name
.idea/.idea.EnsekRemoteTechnicalTest/.idea/encodings.xml
.idea/.idea.EnsekRemoteTechnicalTest/.idea/indexLayout.xml
.idea/.idea.EnsekRemoteTechnicalTest/.idea/vcs.xml
